body {
  background: url('assets/images/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.navIcon > img{
  width:40px;
  height:40px;
}

.navIcon > span{
  color: white;
}
